In [1]:
import pickle
import re
import numpy as np

In [2]:
import keras.models
from keras.models import model_from_json
#from scipy.misc import imread, imresize, imshow

Using TensorFlow backend.

In [3]:
token = pickle.load(open('./token.p','rb'))

In [4]:
def loadModel():
    json_file = open('./LSTM.json','r')
    loaded_model_json = json_file.read()
    json_file.close()
    loaded_model = model_from_json(loaded_model_json)
    #Load weights into new model
    loaded_model.load_weights('./LSTM_weights.h5')
    print("Loaded model from disk")
    
    #Compile and evaluate loaded model
    loaded_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    return loaded_model

In [5]:
def normalizeText(tweet):
    tweet = re.sub(r'#(S|s)arcasm|#(I|i)rony','',tweet)
    tweet = re.sub(r'#SARCASM|#IRONY','',tweet)
    tweet = re.sub(r'https?://t\.co/.(\w|\d)+','http://link', tweet) #tweet link
    tweet = re.sub(r'@.\w*','@',tweet)
    tweet = re.sub(r'#','',tweet)
    return tweet

def text2seq(tweet):
    return np.array(token.texts_to_sequences([tweet])[0]) # Return array like [1 2 3] instead of [[1 2 3]]

def getPredict(tweet_seq):
    predictions = []
    tag = []
    for i in tweet_seq:
        predictions.append(model.predict_classes(i.reshape(len(i),1)))
    for i in predictions:
        tag.append(i.reshape(1,len(i)).mean())
    return [round(x) for x in tag]

In [6]:
task = pickle.load(open('./results.txt','rb'))

In [7]:
task.head()

,USER,TWEET,LAT,LONG
0,anrosca,@Nigromanterueda @mundovelazquez o l√©anse al h...,-99.184350,19.399835
1,vanessa_amaya,"Si claro, por supuesto, √©l es diferente ... No...",-99.259495,19.386371
2,EvyMedinz,@JKNetizen Pens√© que era sarcasmo üò¨,-99.259495,19.386371
3,leonardoolmos,DICEN QUE SI COMPARTES ESTA @OficialYuri DE LA...,-99.259495,19.386371
4,alexrobledof,@ZenTraderMx @Lvissxz Era sarcasmo jeje. \nCab...,-99.184350,19.399835

In [8]:
value = task['TWEET'].apply(normalizeText)
task.insert(loc=2,column='TWEET_SEC',value=value)
task.head()

,USER,TWEET,TWEET_SEC,LAT,LONG
0,anrosca,@Nigromanterueda @mundovelazquez o l√©anse al h...,@ @ o l√©anse al honroso o ‚Äúperiodista‚Äù y nada ...,-99.184350,19.399835
1,vanessa_amaya,"Si claro, por supuesto, √©l es diferente ... No...","Si claro, por supuesto, √©l es diferente ... No...",-99.259495,19.386371
2,EvyMedinz,@JKNetizen Pens√© que era sarcasmo üò¨,@ Pens√© que era sarcasmo üò¨,-99.259495,19.386371
3,leonardoolmos,DICEN QUE SI COMPARTES ESTA @OficialYuri DE LA...,DICEN QUE SI COMPARTES ESTA @ DE LA MORALIDAD ...,-99.259495,19.386371
4,alexrobledof,@ZenTraderMx @Lvissxz Era sarcasmo jeje. \nCab...,"@ @ Era sarcasmo jeje. \nCabe todo, incluso se...",-99.184350,19.399835

In [9]:
task['TWEET_SEC']=task['TWEET_SEC'].apply(text2seq)
task.head()

,USER,TWEET,TWEET_SEC,LAT,LONG
0,anrosca,@Nigromanterueda @mundovelazquez o l√©anse al h...,"[3, 3, 68, 37, 68, 6, 58, 52, 95, 11]",-99.184350,19.399835
1,vanessa_amaya,"Si claro, por supuesto, √©l es diferente ... No...","[78, 196, 16, 2066, 435, 12, 975, 33, 184, 16,...",-99.259495,19.386371
2,EvyMedinz,@JKNetizen Pens√© que era sarcasmo üò¨,"[3, 7500, 1, 151, 4344, 4043]",-99.259495,19.386371
3,leonardoolmos,DICEN QUE SI COMPARTES ESTA @OficialYuri DE LA...,"[189, 922, 461, 3, 242, 274, 242, 7432, 47, 47...",-99.259495,19.386371
4,alexrobledof,@ZenTraderMx @Lvissxz Era sarcasmo jeje. \nCab...,"[3, 3, 2864, 4344, 1746, 5510, 40, 2599, 173, ...",-99.184350,19.399835

In [10]:
model = loadModel()

Loaded model from disk

In [11]:
tag = getPredict(task['TWEET_SEC'])
task.insert(loc=2,column='CLASS',value=tag)
task.head()

,USER,TWEET,CLASS,TWEET_SEC,LAT,LONG
0,anrosca,@Nigromanterueda @mundovelazquez o l√©anse al h...,1.0,"[3, 3, 68, 37, 68, 6, 58, 52, 95, 11]",-99.184350,19.399835
1,vanessa_amaya,"Si claro, por supuesto, √©l es diferente ... No...",0.0,"[78, 196, 16, 2066, 435, 12, 975, 33, 184, 16,...",-99.259495,19.386371
2,EvyMedinz,@JKNetizen Pens√© que era sarcasmo üò¨,1.0,"[3, 7500, 1, 151, 4344, 4043]",-99.259495,19.386371
3,leonardoolmos,DICEN QUE SI COMPARTES ESTA @OficialYuri DE LA...,0.0,"[189, 922, 461, 3, 242, 274, 242, 7432, 47, 47...",-99.259495,19.386371
4,alexrobledof,@ZenTraderMx @Lvissxz Era sarcasmo jeje. \nCab...,0.0,"[3, 3, 2864, 4344, 1746, 5510, 40, 2599, 173, ...",-99.184350,19.399835

In [12]:
ultimate = task[['USER','TWEET','CLASS','LAT','LONG']]
ultimate.head()

,USER,TWEET,CLASS,LAT,LONG
0,anrosca,@Nigromanterueda @mundovelazquez o l√©anse al h...,1.0,-99.184350,19.399835
1,vanessa_amaya,"Si claro, por supuesto, √©l es diferente ... No...",0.0,-99.259495,19.386371
2,EvyMedinz,@JKNetizen Pens√© que era sarcasmo üò¨,1.0,-99.259495,19.386371
3,leonardoolmos,DICEN QUE SI COMPARTES ESTA @OficialYuri DE LA...,0.0,-99.259495,19.386371
4,alexrobledof,@ZenTraderMx @Lvissxz Era sarcasmo jeje. \nCab...,0.0,-99.184350,19.399835

In [18]:
ultimate.to_json('./supreme.json',orient='records')